/* Colors */
:root {
  --whoogle-logo: #4c4f69;
  --whoogle-page-bg: #eff1f5;
  --whoogle-element-bg: #bcc0cc;
  --whoogle-text: #4c4f69;
  --whoogle-contrast-text: #5c5f77;
  --whoogle-secondary-text: #6c6f85;
  --whoogle-result-bg: #ccd0da;
  --whoogle-result-title: #39468f;
  --whoogle-result-url: rgb(212, 90, 63);
  --whoogle-result-visited: #ac6c71;

  --whoogle-dark-logo: #cdd6f4;
  --whoogle-dark-page-bg: #1e1e2e;
  --whoogle-dark-element-bg: #45475a;
  --whoogle-dark-text: #cdd6f4;
  --whoogle-dark-contrast-text: #bac2de;
  --whoogle-dark-secondary-text: #a6adc8;
  --whoogle-dark-result-bg: #313244;
  --whoogle-dark-result-title: #b4befe;
  --whoogle-dark-result-url: #f5e0dc;
  --whoogle-dark-result-visited: #eba0ac;
}
