{% if mobile %}
    <header class="search-header">
        <a href="{{ home_url }}" class="home-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-home"><path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/><polyline points="9 22 9 12 15 12 15 22"/></svg>
        </a>
        <div class="header-div">
            <form class="search-form header"
                  id="search-form"
                  method="{{ 'GET' if config.get_only else 'POST' }}">
                <div class="H0PQec mobile-input-div">
                    <div class="autocomplete-mobile esbc autocomplete">
                        {% if config.preferences %}
                            <input type="hidden" name="preferences" value="{{ config.preferences }}" />
                        {% endif %}
                        <input
                                id="search-bar"
                                class="mobile-search-bar"
                                autocapitalize="none"
                                autocomplete="off"
                                autocorrect="off"
                                spellcheck="false"
                                class="search-bar-input"
                                name="q"
                                type="search"
                                value="{{ clean_query(query) }}"
                                dir="auto">
                        <input id="search-reset" type="reset" value="x">
                        <input name="tbm" value="{{ search_type }}" style="display: none">
                        <input name="country" value="{{ config.country }}" style="display: none;">
                        <input type="submit" style="display: none;">
                        <div class="sc"></div>
                    </div>
                </div>
            </form>
        </div>
      <div>
        <div class="header-tab-div">
            <div class="header-tab-div-2">
                <div class="header-tab-div-3">
                    <div class="mobile-header header-tab">
                        {% for tab_id, tab_content in tabs.items() %}
                            {% if tab_content['selected'] %}
                                <span class="mobile-tab-span">{{ tab_content['name'] }}</span>
                            {% else %}
                                <a class="header-tab-a" href="{{ tab_content['href'] }}">{{ tab_content['name'] }}</a>
                            {% endif %}
                        {% endfor %}
                      <label for="adv-search-toggle" id="adv-search-label" class="adv-search"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-settings-2"><path d="M20 7h-9"/><path d="M14 17H5"/><circle cx="17" cy="17" r="3"/><circle cx="7" cy="7" r="3"/></svg></label>
                      <input id="adv-search-toggle" type="checkbox">
                        <div class="header-tab-div-end"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="" id="s">
      </div>
    </header>
{% else %}
    <header class="search-header">
        <a href="{{ home_url }}" class="home-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-home"><path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/><polyline points="9 22 9 12 15 12 15 22"/></svg>
        </a>
        <div class="search-div">
            <form id="search-form"
                  class="search-form"
                  id="sf"
                  method="{{ 'GET' if config.get_only else 'POST' }}">
                <div class="autocomplete header-autocomplete">
                    <div style="width: 100%; display: flex">
                        {% if config.preferences %}
                            <input type="hidden" name="preferences" value="{{ config.preferences }}" />
                        {% endif %}
                        <input
                                id="search-bar"
                                autocapitalize="none"
                                autocomplete="off"
                                autocorrect="off"
                                class="search-bar-desktop search-bar-input"
                                name="q"
                                spellcheck="false"
                                type="search"
                                value="{{ clean_query(query) }}"
                                dir="auto">
                        <input name="tbm" value="{{ search_type }}" style="display: none">
                        <input name="country" value="{{ config.country }}" style="display: none;">
                        <input name="tbs" value="{{ config.tbs }}" style="display: none;">
                        <input type="submit" style="display: none;">
                        <div class="sc"></div>
                    </div>
                </div>
            </form>
        </div>
    </header>
    <div>
      <div class="header-tab-div">
          <div class="header-tab-div-2">
              <div class="header-tab-div-3">
                  <div class="desktop-header header-tab">
                      {% for tab_id, tab_content in tabs.items() %}
                          {% if tab_content['selected'] %}
                              <span class="header-tab-span">{{ tab_content['name'] }}</span>
                          {% else %}
                              <a class="header-tab-a" href="{{ tab_content['href'] }}">{{ tab_content['name'] }}</a>
                          {% endif %}
                      {% endfor %}
                      <label for="adv-search-toggle" id="adv-search-label" class="adv-search"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-settings-2"><path d="M20 7h-9"/><path d="M14 17H5"/><circle cx="17" cy="17" r="3"/><circle cx="7" cy="7" r="3"/></svg></label>
                      <input id="adv-search-toggle" type="checkbox">
                      <div class="header-tab-div-end"></div>
                  </div>
              </div>
          </div>
      </div>
      <div class="" id="s">
  </div>
{% endif %}
<div class="result-collapsible" id="adv-search-div">
    <div class="result-config">
        <label for="config-country">{{ translation['config-country'] }}: </label>
        <select name="country" id="result-country">
            {% for country in countries %}
                <option value="{{ country.value }}"
                    {% if (
                        config.country != '' and config.country in country.value
                    ) or (
                        config.country == '' and country.value == '')
                    %}
                    selected
                    {% endif %}>
                    {{ country.name }}
                </option>
            {% endfor %}
        </select>
        <br />
        <label for="config-time-period">{{ translation['config-time-period'] }}: </label>
        <select name="tbs" id="result-time-period">
            {% for time_period in time_periods %}
                <option value="{{ time_period.value }}"
                        {% if (
                            config.tbs != '' and config.tbs in time_period.value
                        ) or (
                            config.tbs == '' and time_period.value == '')
                        %}
                        selected
                        {% endif %}>
                {{ translation[time_period.value] }}
                </option>
            {% endfor %}
        </select>
    </div>
</div>

<script type="text/javascript" src="{{ cb_url('header.js') }}"></script>
